/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */
body{
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
  margin: 0px 0px;
  width: 1440px;
}


/* header section */
.nav{
  width: 1440px;
  /* margin-left: 90px; */
  background-color: rgba(0, 0, 255, 0.774);
  display: flex;
  justify-content: space-between;
 
}
.nav a{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
  padding-top: 30px;
  margin-right: 20px;
  margin-left: 20px;

}

#logout{
  background-color: #E02C6D;
}

/* banner  section  */
.banner{
  width: 1440px;
  /* margin-left: 90px; */
  display: flex;
  justify-content: space-between; 
  background-color:#2D25A0;
}

.banner:hover img{
transform: scale(1.2) rotate(15deg);
transition: transform 3s ease-in-out;

}

.banner-description h1{
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 700;
  margin-left: 156px;
  margin-top: 198px;
  
}

.banner-description button{
width:168px ;
height:44px ;
margin-left: 156px;
color: #FFFFFF;
background-color: #E02C6D;
}

.fa-long-arrow-alt-right{
 padding-left:10px;
}

.banner-image img{
  width:  556.01px;
  height: 438px;
  margin: 153px 140px 86px 102px;
  
}


/* player section  */
.player-card{
        background-color: blueviolet;
width: 1050px;
padding-top: 40px;
padding-bottom: 150px;
padding-left: 180px;
padding-right: 210px;
margin-top: 43px;

display: grid;
grid-template-columns: repeat(3,1fr);
grid-column-gap: 30px;

}

.player-box{
width: 330px;
height: 474px;
margin-top: 27px;
border:1px solid #FFFFFF;
padding: 15px;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-box img{
  width: 320px;
  height: 250px;
  padding: 5px;
}

/* footer section  */
footer{
  background-color:rgba(165, 194, 223, 0.37) ;
  width: 1440px;
  margin-top: 14px;
  /* margin-left: 90px; */
  text-align: center;
  
}
.footer-image img{
width:483.87px;
height:213px;
}



/*-------------------
 tablet devices 
 ------------------*/
@media only screen and (max-width:992px){
  body{
    width: 768px;
  }
    .nav{
    display: none;
  }
  .banner{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 768px;
  
  }
  .player-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0px;
    width: 768px;
    padding-left: 0px;
    padding-right: 0px;
  }

  footer{
    width: 768px;
  }
    
}

/* ----------------------
    mobile devices
    ------------------- */
@media only screen and (max-width:688px) 
{
  body{
    margin-left:25px;
    margin-right:25px;
    width: 310px;
  }
  .nav{
    display: none;
  }
  .banner{
   display: flex;
   flex-direction: column;
   width: 360px;
  
  }

    .banner  h1{
  width: 278px;
  height: 138px;
  margin-left: 0px;
  }

  .banner button{
  width: 168px;
  height: 44px;
  padding:
  10px, 24px, 10px, 24px;
  position: relative;
  right: 150px;
  top: 200px
  }

.banner-image{
  width: 360px;
}
  .banner img{
    width: 300px;
    height: 259.17px;
    position: relative;
    top: 100px;
  }
  .player-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 0px;
    width: 360px;
    padding-left: 0px;
    padding-right:0px; 
  }

  footer{
    width: 360px;
  }
  .footer-image img{
    width: 275px;
  }

}


